{% include 'header.html' %}
{% load static %}

<!-- Content -->
<div class="container">
    <div class="row">
        {% for s in subjects %}
        <div class="col-md-4">
          <a href="subject/{{ s.subject_name }}" class="btn btn-secondary btn-square-xl" style="height:300px;width:300px;margin:20px;background-color:#36174D;padding-top:30%;font-size:30px;" onMouseOver="this.style.backgroundColor='#6F36BC'" onMouseOut="this.style.backgroundColor='#36174D'">{{ s.subject_name }}</a>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
